.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  margin: 20px auto 0 450px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 14px;
  margin-bottom: 36px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 953px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-17 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-22 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-25 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-26 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-27 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-28 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-29 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-30 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-31 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-32 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-33 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-34 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-35 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-36 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-37 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-38 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-39 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-40 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-41 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-42 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-43 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-44 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-45 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-46 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-1 .u-image-10 {
  height: 301px;
  margin: 0;
}

.u-section-1 .u-text-47 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-48 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-49 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-50 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-51 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 371px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 935px;
  }

  .u-section-1 .u-image-1 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 284px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 213px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 134px;
  }

  .u-section-1 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }
}