{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block head %}
    "{% static 'Экспозиции.css' %}"
{% endblock %}

  {% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-29b3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-open-sans u-text u-text-default u-text-1">Экспозиции</h2>
        <div class="u-align-center u-border-3 u-border-palette-5-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div class="u-expanded-width u-list u-list-1">

          <div class="u-repeater u-repeater-1">
{% for item in exposure %}
            <div class="u-container-style u-list-item u-repeater-item">

              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="{{ item.photo.url }}">
                <h3 class="u-text u-text-default u-text-2">{{ item.title }}</h3>
                <p class="u-text u-text-3"><b>Название:</b> {{ item.title }}</p>
                <p class="u-text u-text-4"><b>Адрес:</b> {{ item.adress }}</p>
                <p class="u-text u-text-5"><b>Остановки транспорта:</b> {{ item.transport }}</p>
                <p class="u-text u-text-6"><b>Художник монументалист:</b> {{ item.arter_name }}</p>
                <a href="{{ item.get_absolute_url }}" data-page-id="92033037" class="u-border-none u-btn u-button-style u-hover-palette-5-dark-2 u-palette-5-dark-1 u-text-body-alt-color u-text-hover-white u-btn-1">Подробнее</a>
              </div>

            </div>
 {% endfor %}
          </div>

        </div>
      </div>
    </section>
  {% endblock %}

    

